<% layout('./layout/layout') -%>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Checklist for developers!</h1>
  </div>
</div>

<div class="container">
  <% if (categories) { %>
    <% for(var i = 0; i < categories.length;) {%>
        <div class="row">
        <% for(var j = 0; j < 3 && i < categories.length; j++) {%>
          <div class="col-md-4">
              <h2><%= categories[i]._id %></h2>
              <p><%= categories[i].description %></p>
              <p><a class="btn btn-default" href="#" role="button">Details <span class="glyphicon glyphicon-info-sign"></span></a></p>
          </div>
          <% i++ %>
        <% } %>
        </div>
    <% } %>    
  <% } %>
</div>