<% layout('../layout/layout') -%>

<div class="jumbotron text-center">
  <img src="/images/not_found.png" alt="notFound" class="img-thumbnail">
  </br>
  <a class="btn btn-primary margin-space" href="/" role="button"><span class="glyphicon glyphicon-home"></span> back to home</a>
</div>

